.container-fluid {
    width: 1050px;
}
.company-logo {
    padding: 15px;
    width: 175px;
    max-width: 100%;
}
#map {
    height: 400px;
    width: 100%;
}
.row {
    margin-bottom: 60px;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
}
.number-details {
    text-align: center;
}
.number-details img {
    margin-top: 30px;
}
.current-project p {
    font-family: Lato;
    line-height: 1.5em;
    font-size: 18px;
    color: #5e5e57;
}
.social-buttons {
    text-align: center;
}
.current-project h4:first-child {
    margin-top: 90px;
}

.commitment {
    font-family: Lato;
    font-size: 16px;
    color: #4b4b46;
}
.donorbox-wrapper {
    position: relative;
    overflow: hidden;
    height: 555px;
}
.donorbox-wrapper iframe {
    position: absolute;
    top: -112px;
    max-width: 500px;
    min-width: 310px;
}

#share-or-push {
    text-align: center;
}
#share-or-push .btn {
    font-size: 72px;
    width: 5em;
    margin: 30px auto;
    display: block;
}
.share-or-push-wrap {
    text-align: center;
}
.social-button-wrap {
    margin: 60px 0;
}
#donorbox-wrapper-wrapper {
    text-align: left;
}
.back-to-b4 {
    opacity: 0;
}
@media screen and (max-width:768px) {
    .container-fluid {
        width: 90%;
    }
}